@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Mozilla Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For all browsers (as a fallback) */
input[type="number"] {
  /* This can remove some default styling, so use with caution */
  appearance: none;
}